<form [formGroup]="newApplyForm" (ngSubmit)="onSubmit()">
  <div class="w-5 shadow-2 border-round mx-auto mt-5">
    <h2 class="text-center p-3">新機台申請</h2>

    <div class="pl-5 flex flex-column gap-5 align-items-center">

      <!-- 機台名稱欄位 -->
      <div class="p-float-label">
        <input pInputText type="text" id="machine_name" formControlName="machine_name">
        <label for="machine_name">機台名稱：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['machine_name'].untouched &&
                newApplyForm.controls['machine_name'].errors?.['required']"
          >機台名稱為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['machine_name'].errors?.['minlength']"
          >名稱長度至少大於二</small>
      </div>

      <!-- 申請人名稱欄位 -->
      <div class="p-float-label">
        <input pInputText type="text" id="person_name" formControlName="person_name">
        <label for="person_name">申請人：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['person_name'].untouched &&
                newApplyForm.controls['person_name'].errors?.['required']"
          >申請人為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['person_name'].errors?.['minlength']"
          >名字長度至少大於二</small>
      </div>

      <!-- 申請人電話欄位 -->
      <div class="p-float-label">
        <input pInputText type="text" id="phone_number" formControlName="phone_number">
        <label for="phone_number">申請人電話：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['phone_number'].untouched &&
                newApplyForm.controls['phone_number'].errors?.['required']"
          >申請人電話為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['phone_number'].errors?.['pattern']"
          >請輸入數字</small>
      </div>

      <!-- 申請日期欄位 -->
      <div class="p-float-label">
        <input pInputText type="datetime" id="date" formControlName="date">
        <label for="date">申請日期：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['date'].untouched &&
                newApplyForm.controls['date'].errors?.['required']"
          >申請人電話為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['date'].errors?.['pattern']"
          >請輸入日期yyyy-mm-dd</small>
      </div>

      <p-button type="submit" (click)="submit()" class="pb-5" [disabled]="!newApplyForm.valid">送出</p-button>
    </div>
  </div>
</form>

<br>
<hr>
<br>

<p class="text-center">{{newApplyForm.value|json}}</p>

<h2 class="text-center p-3">申請待審核列表</h2>
<!-- <div  class="w-8 mx-auto">
  <p-table [value]="newApplyForm.value" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" >
      <tr>
        <th>機台名稱</th>
        <th>申請人</th>
        <th>申請人電話</th>
        <th>申請日期</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-newApplyForm.value>
      <tr>
        <td>{{ newApplyForm.value.code }}</td>
        <td>{{ newApplyForm.value.name }}</td>
        <td>{{ newApplyForm.value.category }}</td>
        <td>{{ newApplyForm.value.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div> -->
