<form [formGroup]="newApplyForm" (ngSubmit)="onSubmit()">
  <div class="w-9 lg:w-5 shadow-2 border-round mx-auto my-8">
    <h2 class="text-center p-3">新機台申請</h2>

    <div class="pl-5 flex flex-column gap-5 align-items-center">

      <!-- 機台名稱欄位 -->
      <!-- 各欄位需設置ngrx之變動參考 -->
      <div class="p-float-label">
        <input pInputText type="text" id="machine_name" formControlName="machine_name" (click)="add_machine()">
        <label for="machine_name">機台名稱：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['machine_name'].untouched &&
                newApplyForm.controls['machine_name'].errors?.['required']"
          >機台名稱為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['machine_name'].errors?.['minlength']"
          >名稱長度至少大於二</small>
      </div>

      <!-- 申請人名稱欄位 -->
      <div class="p-float-label">
        <input pInputText type="text" id="person_name" formControlName="person_name" >
        <label for="person_name">申請人：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['person_name'].untouched &&
                newApplyForm.controls['person_name'].errors?.['required']"
          >申請人為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['person_name'].errors?.['minlength']"
          >名字長度至少大於二</small>
      </div>

      <!-- 申請人電話欄位 -->
      <div class="p-float-label">
        <input pInputText type="text" id="phone_number" formControlName="phone_number">
        <label for="phone_number">申請人電話：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['phone_number'].untouched &&
                newApplyForm.controls['phone_number'].errors?.['required']"
          >申請人電話為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['phone_number'].errors?.['pattern']"
          >請輸入數字</small>
      </div>

      <!-- 申請日期欄位 -->
      <div class="p-float-label">
        <input pInputText type="datetime" id="date" formControlName="date">
        <label for="date">申請日期：</label>
        <small
          class="p-error block"
          *ngIf="
                !newApplyForm.controls['date'].untouched &&
                newApplyForm.controls['date'].errors?.['required']"
          >申請人電話為必填</small>
        <small
          class="p-error block"
          *ngIf="
                newApplyForm.controls['date'].errors?.['pattern']"
          >請輸入日期yyyy-mm-dd</small>
      </div>

      <p-button type="submit" class="pb-5" [disabled]="!newApplyForm.valid" (click)="showDialog()">送出</p-button>

      <!-- 確認彈窗 -->
      <p-dialog header="Header" [(visible)]="visible" [style]="{ width: 'mx-auto'}" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">新機台申請-申請資料確認</span>
        </ng-template>
          <section class="flex flex-column gap-3 ml-5">
            <div>機台名稱：{{newApplyForm.value.machine_name}}</div>
            <div>申請人：{{newApplyForm.value.person_name}}</div>
            <div>申請人電話：{{newApplyForm.value.phone_number}}</div>
            <div>申請日期：{{newApplyForm.value.date}}</div>
          </section>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-between">
            <p-button icon="pi pi-times" (click)="visible = false" label="取消送出" styleClass="p-button-secondary" (click)="cancelApply()"></p-button>
            <p-button icon="pi pi-check" (click)="visible = false" label="確認送出" styleClass="p-button-success" (click)="confirmApply()" ></p-button>
          </div>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</form>

<hr>

<h2 class="text-center my-5">申請待審核列表</h2>
<div  class="mx-auto lg:w-8 w-9 mb-5">
  <p-table [value]="applyList" >
    <ng-template pTemplate="header" >
      <tr>
        <th>機台名稱</th>
        <th>申請人</th>
        <th>申請人電話</th>
        <th>申請日期</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-applyList>
      <tr>
        <td>{{ applyList.machine_name }}</td>
        <td>{{ applyList.person_name }}</td>
        <td>{{ applyList.phone_number }}</td>
        <td>{{ applyList.date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

